:root {
    --color-primary: #7025FB;

}

.btn-primary {
    height: 53px;
    border-radius: 8px;
    padding: 13px 24px;
    background-color: #212529;
    color: #fff;
    font-size: 2rem;
    font-family: open sans;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.btn-primary>span {
    padding-left: 12px;
}

.flex {
    display: flex;
}

/* .,.,..,.,.,.,.,.,..,.,header.,.,.,.,..,.,.,..,.,.,, */

.header {
    height: 84px;
    width: 45vw;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}
.header-logo {
    padding-left: 60px;
    margin-right: 8px;
}

.left-block-img {
    width: 45vw;
}

.right-block {
    background-color: #FD5334;
    width: 55vw;
    height: 100vh;
    position: sticky;
    padding-left: 85px;
    top: 0;

}

.right-cont-wraper>div {
    align-items: center;
}

.right-cont-wraper>button {
    width: 192px;
    margin-top: 102px;
}

.right-block-p {
    font-size: 8rem;
    font-family: Nunito;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 11rem;

}

.right-block-p2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Nunito;
    color: #000;
    margin-left: 26px;
    font-weight: 700;
}

.right-block-p3 {
    font-size: 8rem;
    font-family: Nunito;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 11rem;
}

.right-cont-wraper {
    flex-direction: column;
    align-self: center;
}